<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo Progetto</title>
</head>
<body>
<h1>Nuovo Progetto</h1>
<form th:action="@{/progetti}" th:object="${progetto}" method="post">
    <label>ID:</label>
    <input type="number" th:field="*{id}" /><br/>
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" /><br/>
    <label>Descrizione:</label>
    <textarea th:field="*{descrizione}"></textarea><br/>
    <label>Data Inizio:</label>
    <input type="date" th:field="*{inizio}" /><br/>
    <label>Data Fine:</label>
    <input type="date" th:field="*{fine}" /><br/>
    <button type="submit">Salva</button>
</form>
<a th:href="@{/progetti}">Torna alla lista</a>
</body>
</html>
